@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  height: 95.5vh;
}

.panel {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  border: 1.5px solid #cecece;
}
    
.topbar {
  grid-column: span 5 / span 5;
}

.object-list {
  grid-row: span 6 / span 6;
  grid-row-start: 2;
}

.properties {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 2;
}

.object-list, .properties {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.6rem 0.9rem;
}

.workspace {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 2;
  grid-row-start: 2;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 7px;
}

.menu-item {
  padding: 2px 7px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s ease;
  border-radius: 5px 5px 0 0;
}

.menu-item:hover {
  background-color: #fafafa;
}

.menu-item.active {
  background-color: #ffffff;
}

.toolbar-container {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px 5px;
  align-items: center; 
}

.toolbar-section {
  display: flex;
  flex-direction: column;
}

.toolbar-divider {
  height: 5rem;
  width: 1px;
  background: #e6e6e6;
  margin-left: 2rem;
  margin-right: 2rem;
}

.toolbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-section.quick-access {
  width: 21rem;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s ease;
  border: none;
}

.toolbar-item:hover {
  background-color: #e6e6e6;
  border: 1px solid #c8c8c8;
}

.tool-title {
  margin-top: 4px;
  font-size: 11px;
  color: #2b2b2b;
  text-align: center;
  font-weight: 400;
}

.toolbar-label {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
  color: #999999;
}

.toolbar-icons.row {
  display: flex;
  gap: 15px;
}

.toolbar-icons.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 36px;
  justify-items: start;
}

.toolbar-icons.col {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 5px 36px;
  justify-items: start;
}


.toolbar-item.row {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px;
}

.toolbar-item.grid, .toolbar-item.col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  width: 115px;
  padding: 1px 0 1px 5px;
}

.tool-icon.row {
  width: 30px;
  height: 30px;
}

.tool-icon.grid, .tool-icon.col {
  width: 15px;
  height: 15px;
}

.tool-title.grid {
  text-align: left;
}

.panel-horizontal-separator {
  height: 1px;
  width: 18rem;
  background: #e6e6e6;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.panel-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.panel-title {
  font-size: 15px;
  font-weight: 500;
}

.object-search {
  width: 6.5rem;
  height: 90%;
  background-color: #ebebeb;
  padding: 0 5px 0;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
}

.tree-view {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}

.tree-node-name {
  display: flex;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
}

.tree-node-name:hover {
  background-color: #ebebeb;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.tree-node-name.active {
  background-color: #e6e6e6;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.node-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.node-button svg {
  width: 16px;
  height: 16px;
}

.tree-node span {
  font-size: 14px;
  font-weight: 400;
}

.subpanel {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  min-height: 160px;
}

.subpanel-title {
  font-size: 13px;
  font-weight: 500;
}

.transformation {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.transformation-dimension {
  width: 65px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  font-size: 13px;
  padding: 3px 4px;
}

.transformation-inputs {
  display: flex;
  gap: 8px;
}

.transformation-title {
  margin-right: 8px;
  font-size: 12px;
}

.material-preview-canvas {
  width: 9rem;
  height: 9rem;
  background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%), 
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size: 25px 25px; 
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; 
  border: 1.5px solid #c0c0c0;
  border-radius: 3px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.property {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

.property-name {
  font-size: 10px;
}

.property-input {
  width: 100%;
  height: 28px;
  background-color: #eaeaea;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  font-size: 10px;
  padding: 3px 4px;
}

.appearance-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subpanel-container {
  margin-bottom: 1rem;
}

.subpanel-container.appearance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.subpanel-container.material {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-name {
  font-size: small;
}

.tag-icon {
  width: 15px;
  height: 15px;
}

.workspace-canvas {
  width: 98.5%;
  height: 100%;
}

.modal {
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  top: 8rem;
  left: 24rem;
}

.modal-title {
  font-size: 15px;
  font-weight: 500;
}

.modal-separator {
  height: 1px;
  width: 100%;
  background: #e6e6e6;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 2px 3px;
  border: none;
  transition: 0.1s ease;
  cursor: pointer;
}

.modal-item:hover {
  background-color: #e6e6e6;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.modal-items-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modal-item-label {
  font-size: 11px;
}

.modal-item-icon {
  width: 20px;
  height: 20px;
}

.switch-panel {
  position: absolute;
  background-color: rgba(240, 240, 240, 0.425); 
  backdrop-filter: blur(5px);
  border-radius: 5px;
  top: 10rem;
  left: 21rem;
  border: 1px solid #ccc;
}

.switch-panel-icon {
  padding: 5px;
  width: 2.2rem;
  height: 2.2rem;
  color: #7b7b7b;
  stroke-width: 1.5;
  cursor: pointer;
}

.switch-panel-icon:hover {
  background-color: rgba(255, 255, 255, 0.714);
  border-radius: 3px;
}

.switch-panel-horizontal-separator {
  height: 1px;
  width: 100%;
  background: #e6e6e6;
}

.switch-panel-icon.active {
  background-color: rgba(255, 255, 255, 0.814);
  border-radius: 3px;
}

.modal-overlay {
  position: absolute;
  width: 99.5%;
  height: 95vh;
  z-index: 11;
}

.switch-panel.horizontal {
  top: calc(100% - 3.5rem);
  left: 46%;
  display: flex;
  flex-direction: row;
}

.switch-panel-vertical-separator {
  height: 2.15rem;
  width: 1px;
  background: #e6e6e6;
}

.tag-container {
  padding: 3px 5px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.params-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.param-object {
  width: 100%;
}

.property-multi-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
}