@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  height: 95.5vh;
}

.panel {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  border: 1.5px solid #cecece;
}
    
.topbar {
  grid-column: span 5 / span 5;
}

.object-list {
  grid-row: span 6 / span 6;
  grid-row-start: 2;
}

.properties {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 2;
}

.workspace {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 2;
  grid-row-start: 2;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 7px;
}

.menu-item {
  padding: 2px 7px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s ease;
  border-radius: 5px 5px 0 0;
}

.menu-item:hover {
  background-color: #fafafa;
}

.menu-item.active {
  background-color: #ffffff;
}

.toolbar-container {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px 5px;
  align-items: center; 
}

.toolbar-section {
  display: flex;
  flex-direction: column;
}


.toolbar-divider {
  height: 5rem;
  width: 1px;
  background: #e6e6e6;
  margin-left: 2rem;
  margin-right: 2rem;
}

.toolbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-section.quick-access {
  width: 21rem;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s ease;
  border: none;
}

.toolbar-item:hover {
  background-color: #e6e6e6;
  border: 1px solid #c8c8c8;
}

.tool-title {
  margin-top: 4px;
  font-size: 11px;
  color: #2b2b2b;
  text-align: center;
  font-weight: 400;
}

.toolbar-label {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
  color: #999999;
}

.toolbar-icons.row {
  display: flex;
  gap: 15px;
}

.toolbar-icons.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 36px;
  justify-items: start;
}

.toolbar-icons.col {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 5px 36px;
  justify-items: start;
}


.toolbar-item.row {
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px;
}

.toolbar-item.grid, .toolbar-item.col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  width: 115px;
  padding: 1px 0 1px 5px;
}

.tool-icon.row {
  width: 30px;
  height: 30px;
}

.tool-icon.grid, .tool-icon.col {
  width: 15px;
  height: 15px;
}

.tool-title.grid {
  text-align: left;
}