@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  height: 99vh;
}

.panel {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  border: 1.5px solid #cecece;
}
    
.topbar {
  grid-column: span 5 / span 5;
}

.object-list {
  grid-row: span 6 / span 6;
  grid-row-start: 2;
}

.properties {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 2;
}

.workspace {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 2;
  grid-row-start: 2;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 7px;
}

.menu-item {
  padding: 3px 5px;
  font-size: 13px;
}

.toolbar-container {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 2px 17px;
  align-items: center;
}

.toolbar-section {
  display: flex;
  flex-direction: column;
}

.toolbar-divider {
  height: 5.5rem;
  width: 1px;
  background: #e6e6e6;
  margin-left: 2rem;
  margin-right: 2rem;
}

.toolbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-section.quick-access {
  width: 21rem;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  cursor: pointer;
}

.tool-title {
  margin-top: 4px;
  font-size: 11px;
  color: #2b2b2b;
  text-align: center;
  font-weight: 400;
}

.toolbar-label {
  margin-top: 3px;
  font-size: 11px;
  text-align: center;
  color: #999999;
}

.toolbar-icons.row {
  display: flex;
  gap: 32px;
}

.toolbar-icons.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 36px;
  justify-items: start;
}

.toolbar-item.row {
  display: flex;
  flex-direction: column;
}

.toolbar-item.grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 120px;
}

.tool-icon.row {
  width: 30px;
  height: 30px;
}

.tool-icon.grid {
  width: 15px;
  height: 15px;
}

.tool-title.grid {
  text-align: left;
}